rpa-bpmn-makecom-automatio/make.com/Scenario 1.blueprint.json
{
    "name": "Scenario 1",
    "flow": [
        {
            "id": 2,
            "module": "google-forms:watchResponses",
            "version": 2,
            "parameters": {
                "limit": 100,
                "formId": "1tApIfAPyS5cWsTpGU4jQgmYZo0xlXVcdYiEAPQbkNNw",
                "__IMTCONN__": 5178736
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "formId": {
                            "rpcSearch": {
                                "label": "Clients information",
                                "value": "1tApIfAPyS5cWsTpGU4jQgmYZo0xlXVcdYiEAPQbkNNw"
                            }
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "formId",
                        "type": "text",
                        "label": "Form ID",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "responseId",
                        "type": "text",
                        "label": "Response ID"
                    },
                    {
                        "name": "createTime",
                        "type": "date",
                        "label": "Create Time"
                    },
                    {
                        "name": "lastSubmittedTime",
                        "type": "date",
                        "label": "Last Submitted Time"
                    },
                    {
                        "name": "respondentEmail",
                        "type": "text",
                        "label": "Respondent Email"
                    },
                    {
                        "name": "answers",
                        "spec": [
                            {
                                "name": "5e01229a",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "First Name"
                            },
                            {
                                "name": "479a6ac5",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Last Name"
                            },
                            {
                                "name": "30445b6d",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Email"
                            },
                            {
                                "name": "13cc4a7f",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "What slot would you like to attend?"
                            },
                            {
                                "name": "383ab069",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "School"
                            },
                            {
                                "name": "32064498",
                                "spec": [
                                    {
                                        "name": "questionId",
                                        "type": "text",
                                        "label": "Question ID"
                                    },
                                    {
                                        "name": "grade",
                                        "spec": [
                                            {
                                                "name": "score",
                                                "type": "number",
                                                "label": "Score"
                                            },
                                            {
                                                "name": "correct",
                                                "type": "boolean",
                                                "label": "Correct"
                                            },
                                            {
                                                "name": "feedback",
                                                "spec": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text"
                                                    },
                                                    {
                                                        "name": "material",
                                                        "spec": [
                                                            {
                                                                "name": "link",
                                                                "spec": [
                                                                    {
                                                                        "name": "uri",
                                                                        "type": "text",
                                                                        "label": "URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Link"
                                                            },
                                                            {
                                                                "name": "video",
                                                                "spec": [
                                                                    {
                                                                        "name": "youtubeUri",
                                                                        "type": "text",
                                                                        "label": "Youtube URI"
                                                                    },
                                                                    {
                                                                        "name": "displayText",
                                                                        "type": "text",
                                                                        "label": "Display Text"
                                                                    }
                                                                ],
                                                                "type": "collection",
                                                                "label": "Video"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Material"
                                                    },
                                                    {
                                                        "name": "textAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "value",
                                                                        "type": "text",
                                                                        "label": "value"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Text Answers"
                                                    },
                                                    {
                                                        "name": "fileUploadAnswers",
                                                        "spec": [
                                                            {
                                                                "name": "answers",
                                                                "spec": [
                                                                    {
                                                                        "name": "fileId",
                                                                        "type": "text",
                                                                        "label": "File ID"
                                                                    },
                                                                    {
                                                                        "name": "fileName",
                                                                        "type": "text",
                                                                        "label": "File Name"
                                                                    },
                                                                    {
                                                                        "name": "mimeType",
                                                                        "type": "text",
                                                                        "label": "MIME Type"
                                                                    }
                                                                ],
                                                                "type": "array",
                                                                "label": "Answers"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Upload Answers"
                                                    }
                                                ],
                                                "type": "collection",
                                                "label": "Feedback"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Grade"
                                    }
                                ],
                                "type": "collection",
                                "label": "Graduation date"
                            }
                        ],
                        "type": "collection",
                        "label": "Answers"
                    },
                    {
                        "name": "totalScore",
                        "type": "number",
                        "label": "Total Score"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5178736
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "0": "{{2.answers.`5e01229a`.textAnswers.answers[].value}}",
                    "1": "{{2.answers.`479a6ac5`.textAnswers.answers[].value}}",
                    "2": "{{2.answers.`30445b6d`.textAnswers.answers[].value}}",
                    "3": "{{2.answers.`13cc4a7f`.textAnswers.answers[].value}}",
                    "4": "{{2.answers.`383ab069`.textAnswers.answers[].value}}",
                    "5": "{{2.answers.`32064498`.textAnswers.answers[].value}}",
                    "8": "{{uuid}}",
                    "13": "No",
                    "14": "0"
                },
                "sheetId": "Sheet1",
                "spreadsheetId": "/120g7c5audGh_VXL1APBxUCcLTTB9O8DwSsC6qKt_ifk",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 372,
                    "y": 603
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "first name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "last name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "email (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "slot (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "school (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "grad data (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "registration_id (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "QR_Type (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "qr_token (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "qr_url (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "ticket_pdf_url (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Status(REGISTERED / CHECKED_IN) (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "checked_in_at (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "email_sent_at (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "is_inside (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Valid_from (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Valid_to (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "(AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "(AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "(AF)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "first name",
                                                "last name",
                                                "email",
                                                "slot",
                                                "school",
                                                "grad data",
                                                "registration_id",
                                                "QR_Type",
                                                "qr_token",
                                                "qr_url",
                                                "ticket_pdf_url",
                                                " Status(REGISTERED / CHECKED_IN)",
                                                "checked_in_at",
                                                "email_sent_at",
                                                "is_inside",
                                                "Valid_from",
                                                "Valid_to"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "first name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "last name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "email (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "slot (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "school (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "grad data (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "registration_id (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "QR_Type (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "qr_token (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "qr_url (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "ticket_pdf_url (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Status(REGISTERED / CHECKED_IN) (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "checked_in_at (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "email_sent_at (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "is_inside (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Valid_from (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Valid_to (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "(AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "(AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "(AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "(AF)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "first name",
                                    "last name",
                                    "email",
                                    "slot",
                                    "school",
                                    "grad data",
                                    "registration_id",
                                    "QR_Type",
                                    "qr_token",
                                    "qr_url",
                                    "ticket_pdf_url",
                                    " Status(REGISTERED / CHECKED_IN)",
                                    "checked_in_at",
                                    "email_sent_at",
                                    "is_inside",
                                    "Valid_from",
                                    "Valid_to"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 39,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5178736
            },
            "mapper": {
                "from": "share",
                "sheetId": "Sheet1",
                "sortOrder": "asc",
                "spreadsheetId": "120g7c5audGh_VXL1APBxUCcLTTB9O8DwSsC6qKt_ifk",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 849,
                    "y": 5
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from all"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Sheet1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "first name (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "last name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "email (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "slot (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "school (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "grad data (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "registration_id (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "QR_Type (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "qr_token (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "qr_url (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "ticket_pdf_url (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Status(REGISTERED / CHECKED_IN) (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "checked_in_at (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "email_sent_at (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "is_inside (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Valid_from (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Valid_to (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 20,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "filter sent emails",
                "conditions": [
                    [
                        {
                            "a": "{{39.`13`}}",
                            "b": "No",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "qr_url",
                "scope": "roundtrip",
                "value": "https://hook.eu1.make.com/cs7plnyq9wq9pna4tj6d68yuqr05yngw?token={{39.`8`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1195,
                    "y": 655
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "qr_url",
                        "type": "any",
                        "label": "qr_url"
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "qr_out",
                "scope": "roundtrip",
                "value": "https://hook.eu1.make.com/ze7gk6nilde7sowb34ai246kpe33nsh0?token={{39.`8`}}"
            },
            "metadata": {
                "designer": {
                    "x": 1529,
                    "y": -25
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "qr_out",
                        "type": "any",
                        "label": "qr_out"
                    }
                ]
            }
        },
        {
            "id": 28,
            "module": "barcode:GenerateBarcode",
            "version": 1,
            "parameters": {},
            "mapper": {
                "bcid": "qrcode",
                "text": "{{20.qr_url}}",
                "scale": "1",
                "rotate": "N",
                "eclevel": "M",
                "fileName": "barcode.png",
                "paddingwidth": "",
                "paddingheight": ""
            },
            "metadata": {
                "designer": {
                    "x": 1941,
                    "y": 631
                },
                "restore": {
                    "expect": {
                        "bcid": {
                            "label": "QR Code"
                        },
                        "rotate": {
                            "label": "Normal (not rotated)"
                        },
                        "eclevel": {
                            "label": "Level M (15%)"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "bcid",
                        "type": "select",
                        "label": "Barcode type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "code39",
                                "code128",
                                "ean8",
                                "ean13",
                                "qrcode",
                                "upca",
                                "upce"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "extension": "png"
                    },
                    {
                        "name": "paddingwidth",
                        "type": "uinteger",
                        "label": "Padding width"
                    },
                    {
                        "name": "paddingheight",
                        "type": "uinteger",
                        "label": "Padding height"
                    },
                    {
                        "name": "scale",
                        "type": "uinteger",
                        "label": "Scale",
                        "validate": {
                            "max": 10,
                            "min": 1
                        }
                    },
                    {
                        "name": "rotate",
                        "type": "select",
                        "label": "Rotate",
                        "validate": {
                            "enum": [
                                "N",
                                "R",
                                "L",
                                "I"
                            ]
                        }
                    },
                    {
                        "name": "eclevel",
                        "type": "select",
                        "label": "Error correction",
                        "validate": {
                            "enum": [
                                "L",
                                "M",
                                "Q",
                                "H"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 46,
            "module": "barcode:GenerateBarcode",
            "version": 1,
            "parameters": {},
            "mapper": {
                "bcid": "qrcode",
                "text": "{{44.qr_out}}",
                "scale": "1",
                "rotate": "N",
                "eclevel": "M",
                "fileName": "barcode_out.png",
                "paddingwidth": "",
                "paddingheight": ""
            },
            "metadata": {
                "designer": {
                    "x": 2137,
                    "y": -29
                },
                "restore": {
                    "expect": {
                        "bcid": {
                            "label": "QR Code"
                        },
                        "rotate": {
                            "label": "Normal (not rotated)"
                        },
                        "eclevel": {
                            "label": "Level M (15%)"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "bcid",
                        "type": "select",
                        "label": "Barcode type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "code39",
                                "code128",
                                "ean8",
                                "ean13",
                                "qrcode",
                                "upca",
                                "upce"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "fileName",
                        "type": "filename",
                        "label": "File name",
                        "required": true,
                        "extension": "png"
                    },
                    {
                        "name": "paddingwidth",
                        "type": "uinteger",
                        "label": "Padding width"
                    },
                    {
                        "name": "paddingheight",
                        "type": "uinteger",
                        "label": "Padding height"
                    },
                    {
                        "name": "scale",
                        "type": "uinteger",
                        "label": "Scale",
                        "validate": {
                            "max": 10,
                            "min": 1
                        }
                    },
                    {
                        "name": "rotate",
                        "type": "select",
                        "label": "Rotate",
                        "validate": {
                            "enum": [
                                "N",
                                "R",
                                "L",
                                "I"
                            ]
                        }
                    },
                    {
                        "name": "eclevel",
                        "type": "select",
                        "label": "Error correction",
                        "validate": {
                            "enum": [
                                "L",
                                "M",
                                "Q",
                                "H"
                            ]
                        }
                    }
                ]
            }
        },
        {
            "id": 50,
            "module": "onedrive:uploadAFile",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5172566
            },
            "mapper": {
                "data": "{{28.data}}",
                "enter": "id",
                "folder": "/8D031933C7312EB1!s2dc65bd2809843fbab6d32c5e3960e42",
                "select": "my",
                "select1": "no",
                "filename": "{{28.fileName}}",
                "conflictBehavior": "replace"
            },
            "metadata": {
                "designer": {
                    "x": 2488,
                    "y": 553
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "Folder Location ID"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Pictures"
                            ]
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        },
                        "conflictBehavior": {
                            "label": "Replace the existing file"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (idir sid <idir.gem.2026@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (Folder Location ID & Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "conflictBehavior",
                        "type": "select",
                        "label": "If the File with the Same Name Exists",
                        "required": true,
                        "validate": {
                            "enum": [
                                "replace",
                                "rename",
                                "fail"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    }
                ]
            }
        },
        {
            "id": 52,
            "module": "onedrive:uploadAFile",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5172566
            },
            "mapper": {
                "data": "{{46.data}}",
                "enter": "id",
                "folder": "/8D031933C7312EB1!s2dc65bd2809843fbab6d32c5e3960e42",
                "select": "my",
                "select1": "no",
                "filename": "{{46.fileName}}",
                "conflictBehavior": "replace"
            },
            "metadata": {
                "designer": {
                    "x": 2764,
                    "y": -64
                },
                "restore": {
                    "expect": {
                        "enter": {
                            "label": "Folder Location ID"
                        },
                        "folder": {
                            "mode": "chose",
                            "path": [
                                "Pictures"
                            ]
                        },
                        "select": {
                            "label": "My Drive"
                        },
                        "select1": {
                            "label": "No"
                        },
                        "conflictBehavior": {
                            "label": "Replace the existing file"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (idir sid <idir.gem.2026@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "enter",
                        "type": "select",
                        "label": "Enter (Folder Location ID & Path)",
                        "required": true,
                        "validate": {
                            "enum": [
                                "id",
                                "path"
                            ]
                        }
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "conflictBehavior",
                        "type": "select",
                        "label": "If the File with the Same Name Exists",
                        "required": true,
                        "validate": {
                            "enum": [
                                "replace",
                                "rename",
                                "fail"
                            ]
                        }
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Choose your OneDrive location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "my",
                                "site",
                                "group"
                            ]
                        }
                    },
                    {
                        "name": "select1",
                        "type": "select",
                        "label": "Enable to Enter a Drive ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "yes",
                                "no"
                            ]
                        }
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder"
                    }
                ]
            }
        },
        {
            "id": 54,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5178736
            },
            "mapper": {
                "from": "share",
                "name": "qr_{{39.`8`}}",
                "image": {
                    "kix.1icxd7xfegr8-t.0": "{{52.`@content.downloadUrl`}}",
                    "kix.5ppart1wr1zq-t.0": "{{50.`@content.downloadUrl`}}"
                },
                "select": "dropdown",
                "document": "/1c0C44aoCsz6JKW5MbHFaRors10NPn-Lg_X70l0Iewzs",
                "folderId": "/",
                "requests": {
                    "Name": "{{39.`0`}}",
                    "PersonID": "{{39.`8`}}"
                },
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 3072,
                    "y": 522
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Shared With Me"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "document": {
                            "path": [
                                "qr_template"
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "/"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "spec": [
                            {
                                "name": "Name",
                                "type": "any"
                            },
                            {
                                "name": "PersonID",
                                "type": "any"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "kix.5ppart1wr1zq-t.0",
                                "type": "url",
                                "label": "Tab (Tab 1) - Body: Image No. 1",
                                "metadata": {
                                    "tabId": "t.0"
                                }
                            },
                            {
                                "name": "kix.1icxd7xfegr8-t.0",
                                "type": "url",
                                "label": "Tab (Tab 1) - Body: Image No. 2",
                                "metadata": {
                                    "tabId": "t.0"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Image URLs"
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 55,
            "module": "google-docs:exportADocument",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5178736
            },
            "filter": null,
            "mapper": {
                "document": "{{54.id}}",
                "mimeType": "application/pdf",
                "destination": "team",
                "sharedDrive": "{{39.`8`}}",
                "useDomainAdminAccess": false
            },
            "metadata": {
                "designer": {
                    "x": 3322,
                    "y": -107
                },
                "restore": {
                    "expect": {
                        "document": {
                            "mode": "edit",
                            "path": []
                        },
                        "mimeType": {
                            "mode": "chose",
                            "label": "PDF Document (.pdf)"
                        },
                        "destination": {
                            "label": "Google Shared Drive"
                        },
                        "sharedDrive": {
                            "mode": "chose",
                            "label": "{{39.`8`}}"
                        },
                        "useDomainAdminAccess": {
                            "label": "No"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "mimeType",
                        "type": "select",
                        "label": "Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/vnd.oasis.opendocument.text",
                                "application/rtf",
                                "application/pdf",
                                "text/plain",
                                "text/html",
                                "application/epub+zip"
                            ]
                        }
                    },
                    {
                        "name": "useDomainAdminAccess",
                        "type": "select",
                        "label": "Use Domain Admin Access",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "sharedDrive",
                        "type": "select",
                        "label": "Shared Drive",
                        "required": true
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 24,
            "module": "microsoft-email:createAndSendAMessage",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5172566
            },
            "mapper": {
                "content": "Hello {{39.`0`}}, here is your {{39.`3`}} pass.\n",
                "subject": "Access Pass",
                "attachments": [
                    {
                        "data": "{{55.data}}",
                        "filename": "{{55.filename}}"
                    }
                ],
                "contentType": "html",
                "toRecipients": [
                    {
                        "name": "{{39.`1`}},{{39.`0`}}",
                        "address": "{{39.`2`}}"
                    }
                ],
                "singleValueExtendedProperties": {}
            },
            "metadata": {
                "designer": {
                    "x": 3622,
                    "y": -257
                },
                "restore": {
                    "expect": {
                        "from": {
                            "mode": "chose"
                        },
                        "replyTo": {
                            "mode": "chose"
                        },
                        "importance": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "mode": "chose",
                            "label": "HTML"
                        },
                        "ccRecipients": {
                            "mode": "chose"
                        },
                        "toRecipients": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bccRecipients": {
                            "mode": "chose"
                        },
                        "internetMessageHeaders": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "azure"
                            },
                            "label": "My Microsoft connection (idir sid <idir.gem.2026@outlook.com>)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:azure",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "toRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "To Recipients",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject",
                        "required": true
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Body Content",
                        "required": true
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "filename",
                                "type": "filename",
                                "label": "File Name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "replyTo",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Reply To"
                    },
                    {
                        "name": "from",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "From",
                        "validate": {
                            "maxItems": 1
                        }
                    },
                    {
                        "name": "ccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "CC Recipients"
                    },
                    {
                        "name": "bccRecipients",
                        "spec": [
                            {
                                "name": "address",
                                "type": "email",
                                "label": "Email Address",
                                "required": true
                            },
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name"
                            }
                        ],
                        "type": "array",
                        "label": "Bcc Recipients"
                    },
                    {
                        "name": "importance",
                        "type": "select",
                        "label": "Importance",
                        "validate": {
                            "enum": [
                                "Low",
                                "Normal",
                                "High"
                            ]
                        }
                    },
                    {
                        "name": "internetMessageHeaders",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Internet Message Headers"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "singleValueExtendedProperties",
                        "spec": [
                            {
                                "name": "sensitivityLabel",
                                "type": "text",
                                "label": "Sensitivity Label"
                            }
                        ],
                        "type": "collection",
                        "label": "Extended MAPI Properties"
                    }
                ]
            }
        },
        {
            "id": 42,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5178736
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "9": "u{{20.qr_url}}",
                    "11": "0",
                    "13": "Yes",
                    "14": "0"
                },
                "sheetId": "Sheet1",
                "rowNumber": "{{39.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/120g7c5audGh_VXL1APBxUCcLTTB9O8DwSsC6qKt_ifk",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 3939,
                    "y": -109
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Sheet1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Registration Data"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "first name (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "last name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "email (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "slot (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "school (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "grad data (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "registration_id (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "QR_Type (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "qr_token (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "qr_url (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "ticket_pdf_url (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Status(REGISTERED / CHECKED_IN) (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "checked_in_at (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "email_sent_at (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "is_inside (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Valid_from (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Valid_to (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "(AB)"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "(AC)"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "(AD)"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "(AE)"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "(AF)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (i.sidmohand@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "first name (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "last name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "email (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "slot (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "school (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "grad data (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "registration_id (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "QR_Type (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "qr_token (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "qr_url (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "ticket_pdf_url (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Status(REGISTERED / CHECKED_IN) (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "checked_in_at (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "email_sent_at (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "is_inside (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Valid_from (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Valid_to (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "(AB)"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "(AC)"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "(AD)"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "(AE)"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "(AF)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}